.main {
  max-width: var(--max-width);
  margin: 0 auto;
}

.content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  gap: 8rem;
}

.imageWrapper {
  position: relative;
}

.stampWrapper {
  position: absolute;
  top: -6rem;
  right: -6rem;
  z-index: -1;
  width: 12rem;
  height: 12rem;
}

.spacer {
  min-height: 60vh;
  width: 100%;
}
